{:paths ["src"]
 :deps {metosin/malli {:mvn/version "0.16.4"}
        fi.polycode/muotti {:mvn/version "1.1.0"}
        io.github.matthewdowney/rich-comment-tests {:git/tag "v1.0.3"
                                                    :git/sha "a8711e9"}}}
